<template>
    <layout page-class="page-main">
        <div class="card card-manage shadow">
            <div class="card-header">Управление содержимым</div>

            <ul class="nav nav-tabs card-tabs">
                <li class="nav-item">
                    <router-link :to="{ name: 'manage.videos' }" active-class="active" class="nav-link">Видео</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'manage.comments' }" active-class="active" class="nav-link">Комментарии</router-link>
                </li>
            </ul>

            <router-view/>
        </div>
    </layout>

</template>

<script>
    import Layout from '../../layouts/Default';

    export default {
        name: 'Index',
        middleware: 'auth',
        components: {
            Layout,
        }
    }
</script>
