<template>
    <div class="card-body">
        <spiner :loader="loadState" size="3"/>

        <ul class="comments" v-if="!loadState && comments.length">
            <li class="comment" v-for="(comment, key) in comments" :key="key">
                <div class="comment-avatar">
                    <router-link
                            :to="{ name: 'user.videos', params: { uid: comment.user.uid  } }"
                            class="img-avatar">
                        <img :src="comment.user.avatar" :alt="comment.user.name">
                    </router-link>
                </div>
                <div class="comment-message">
                    <div class="meta">
                        <router-link
                                :to="{ name: 'user.videos', params: { uid: comment.user.uid  } }"
                                class="mr-2">
                            <strong>{{ comment.user.name }}</strong>
                        </router-link>
                        <span class="publish ml-auto">{{ comment.created_at | fromNow | capitalize }}</span>
                    </div>
                    <div class="text">{{ comment.body }}</div>
                </div>
            </li>
        </ul>

        <p class="text-center text-muted mb-0" v-if="!loadState && !comments.length">
            Еще никто не прокомментировал это видео.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'Comments',
        props: [
            'video',
        ],
        data: function () {
            return {
                loadState: true,
                comments: [],
            }
        },
        mounted: function () {
            this.getComments();

            EventBus.$on('comment-create', (function () {
                this.getComments();
            }).bind(this));

        },
        methods: {
            getComments: async function () {
                this.loadState = true;
                const {data} = await this.$http.get(`/api/videos/${this.video}/comments`);
                this.comments = data;
                this.loadState = false;
            }
        }
    }
</script>
