<template>
    <video
            :id="`player-${idNumber}`"
            class="video"
            ref="video"
            :poster="poster"
            :crossorigin="crossorigin"
    >
        <source
                v-for="(video, index) in sources"
                :key="index"
                :src="video.src"
                :size="video.size"
                :type="`${video.type}`"
        >
    </video>
</template>

<script>
    import Player from 'plyr';
    import options from '~/plugins/player';

    export default {
        name: 'Player',
        props: {
            poster: {
                type: String,
                required: true
            },
            options: {
                type: Object,
                required: false,
                default () { return {}; },
            },
            emit: {
                type: Array,
                required: false,
                default () { return []; },
            },
            sources: {
                type: Array,
                required: true,
                validator: value => {
                    let valid = true;
                    value.forEach((vid) => {
                        let hasProps = vid.hasOwnProperty('src') && vid.hasOwnProperty('type');
                        if (!hasProps) {
                            valid = false
                        }
                    });
                    return valid;
                }
            },
            crossorigin: {
                type: Boolean,
                default: false
            },
        },
        data () {
            return {
                player: {},
            }
        },
        computed: {
            idNumber () {
                return Math.floor(Math.random() * (100000 - 1)) + 1;
            }
        },
        mounted () {
            this.player = new Player(document.getElementById(`player-${this.idNumber}`), options);
            this.emit.forEach(element => {
                this.player.on(element, this.emitPlayerEvent)
            })
        },
        beforeDestroy () {
            this.player.destroy();
        },
        methods: {
            emitPlayerEvent (event) {
                this.$emit(event.type, event);
            }
        },
    }
</script>
