<template>
    <div class="card card-thumbnail shadow" @mouseover="onMouseOver" @mouseout="onMouseOut">
        <router-link :to="{ name: 'watch', params: { uid: video.uid } }">
            <div class="card-header">
                <span class="video-views">
                    <i class="icon icon-eye icon-fw"></i> {{ video.counters.views }}
                </span>
                <span class="video-length">{{ video.duration | HHMMSS }}</span>
            </div>
            <img class="card-img-top" :src="hover ? video.preview : video.thumbnail" :alt="video.title">
            <span class="video-preview" v-if="hover">Предпросмотр</span>
        </router-link>
        <div class="card-body">
            <router-link class="video-title" :to="{ name: 'watch', params: { uid: video.uid } }">{{ video.title }}</router-link>
            <router-link class="video-author" :to="{ name: 'channel', params: { uid: video.uid } }" v-if="video.user">{{ video.user.name }}</router-link>
            <span class="video-publish" v-if="video.published_at">{{ video.published_at | fromNow | capitalize }}</span>
            <span class="video-publish" v-else>Не опубликовано</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Thumbnail',
        props: [
            'video',
        ],
        data: function() {
            return {
                hover: false,
            }
        },
        methods: {
            onMouseOver: function () {
                this.hover = true;
                this.interval = setInterval((function () {
                    this.hover = false;
                }).bind(this), 3000);
            },
            onMouseOut: function () {
                this.hover = false;
                clearInterval(this.interval);
            }
        },
    }
</script>
