<template>
    <div class="app" :class="appClass">
        <main class="app-auth">
            <div class="page" :class="pageClass">
                <div class="page-container">
                    <header class="page-header">
                        <router-link :to="{ name: 'index' }" title="AMV Collection">
                            <img src="/images/brand.png" alt="AMV Collection" height="36">
                        </router-link>
                        <slot name="header"></slot>
                    </header>
                    <svg class="wave" viewBox="0 0 100 15">
                        <path fill="#e21725" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path>
                        <path fill="#e21725" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
                    </svg>
                    <section class="page-section">
                        <slot></slot>
                    </section>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            &copy; AMV Collection, 2018
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'Auth',
        props: [
            'appClass',
            'pageClass',
        ],
    }
</script>
