<template>
    <div class="app" :class="appClass">
        <main-header/>
        <main-aside/>
        <main class="app-main">
            <div class="page" :class="pageClass">
                <div class="page-container">
                    <slot name="header"></slot>
                    <slot name="wave"></slot>
                    <section class="page-section">
                        <slot></slot>
                    </section>
                </div>
            </div>
        </main>
        <main-footer/>
    </div>
</template>

<script>
    import MainHeader from './Share/Header';
    import MainAside from './Share/Aside';
    import MainFooter from './Share/Footer';

    export default {
        name: 'Default',
        components: {
            MainHeader,
            MainAside,
            MainFooter,
        },
        props: [
            'appClass',
            'pageClass',
        ],
    }
</script>
