<template>
    <div class="form-check">
        <input
                :name="name"
                :checked="internalValue"
                :id="id || name"
                type="checkbox"
                class="form-check-input"
                @click="handleClick">
        <label :for="id || name" class="form-check-label">
            <slot/>
        </label>
    </div>
</template>

<script>
    export default {
        name: 'VCheckbox',
        props: {
            id: {
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: 'checkbox',
            },
            value: {
                type: Boolean,
                default: false,
            },
            checked: {
                type: Boolean,
                default: false,
            },
        },
        data: function () {
            return {
                internalValue: false,
            }
        },
        watch: {
            value(val) {
                this.internalValue = val;
            },
            checked(val) {
                this.internalValue = val;
            },
            internalValue(val, oldVal) {
                if (val !== oldVal) {
                    this.$emit('input', val);
                }
            }
        },
        created: function () {
            this.internalValue = this.value;

            if ('checked' in this.$options.propsData) {
                this.internalValue = this.checked;
            }
        },
        methods: {
            handleClick: function (e) {
                this.$emit('click', e);

                if (!e.isPropagationStopped) {
                    this.internalValue = e.target.checked;
                }
            },
        }
    }
</script>

<style scoped>

</style>