<template>
    <form @submit.prevent="onClick" class="media">
        <figure class="img-avatar img-avatar-md mr-2">
            <img :src="avatar" :alt="name">
        </figure>
        <div class="media-body">
            <div class="publisher publisher-alt" :class="{ 'focus': focus }" @click="onFocusOver" v-click-outside="onFocusLeave">
                <div class="publisher-input">
                    <textarea id="publisherInput1" class="form-control" placeholder="Оставить коментарий" v-model="body"></textarea>
                </div>
                <div class="publisher-actions">
                    <button type="submit" class="btn btn-danger ml-auto">Опубликовать</button>
                </div>
            </div>
        </div>
    </form>

</template>

<script>
    export default {
        name: 'CommentInput',
        props: [
            'avatar',
            'name',
            'video',
        ],
        data: function () {
            return {
                focus: false,
                body: '',
            }
        },
        methods: {
            onFocusOver: function () {
                this.focus = true;
            },

            onFocusLeave: function () {
                this.focus = false;
            },

            onClick: async function () {
                let data = new FormData();
                data.append('body', this.body);

                await this.$http.post('/api/videos/' + this.video + '/comments', data).then((response) => {
                    this.body = '';
                    this.focus = false;
                    EventBus.$emit('comment-create');
                });
            },
        },
    }
</script>
