<template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" :class="pagination.current_page <= 1 ? 'disabled' : ''">
                <a class="page-link" @click.prevent="onChange(pagination.current_page - 1)">Предыдущая</a>
            </li>
            <li class="page-item" v-for="page in pages" :class="isCurrent(page) ? 'active' : ''" >
                <a class="page-link" @click.prevent="onChange(page)">{{ page }}</a>
            </li>
            <li class="page-item" :class="pagination.current_page >= pagination.last_page ? 'disabled' : ''">
                <a class="page-link" @click.prevent="onChange(pagination.current_page + 1)">Следующая</a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: 'Pagination',
        props: [
            'pagination', 'offset',
        ],
        methods: {
            isCurrent: function (page) {
                return this.pagination.current_page === page;
            },
            onChange: function (page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }

                this.pagination.current_page = page;
                this.$emit('paginate');
            },
        },
        computed: {
            pages: function () {
                let pages = [];

                let from = this.pagination.current_page - Math.floor(this.offset / 2);

                if (from < 1) {
                    from = 1;
                }

                let to = from + this.offset - 1;

                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                while (from <= to) {
                    pages.push(from);
                    from++;
                }

                return pages;
            }
        }
    }
</script>