<template>
    <div class="header-search">
        <div class="input-group input-group-search" :class="{ 'focus': focus }">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="icon icon-search"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Поиск" @focus="onFocusOver" @blur="onFocusLeave" v-model="search">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SearchInput',
        data: function () {
            return {
                focus: false,
                search: '',
            }
        },
        methods: {
            onFocusOver: function () {
                this.focus = true;
            },

            onFocusLeave: function () {
                if (this.search === '')
                    this.focus = false;
            },
        },
    }
</script>
