<template>
    <button class="btn btn-vk btn-block" @click="onClick('vkontakte')">
        Войти с помощью <i class="icon icon-vk icon-fw"></i>
    </button>
</template>

<script>
    export default {
        name: 'SocialAuthButton',
        data: function () {
            return {
                provider: null,
            }
        },
        computed: {
            url: function () {
                return `api/oauth/${this.provider}`;
            },
        },
        mounted () {
            window.addEventListener('message', this.onMessage, false);
        },
        beforeDestroy () {
            window.removeEventListener('message', this.onMessage)
        },
        methods: {
            async onClick (provider) {
                this.provider = provider;
                const newWindow = openWindow('', 'Авторизация');

                const url = await this.$store.dispatch('auth/fetchOauthUrl', {
                    provider: provider,
                });

                newWindow.location.href = url;
            },

            onMessage (e) {
                if (e.origin !== window.origin || !e.data.token) {
                    return;
                }

                this.$store.dispatch('auth/saveToken', {
                    token: e.data.token
                });

                this.$router.push({ name: 'index' });
            }
        },
    }

    function openWindow (url, title, options = {}) {
        if (typeof url === 'object') {
            options = url;
            url = '';
        }

        options = { url, title, width: 720, height: 420, ...options };

        const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screen.left;
        const dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screen.top;
        const width = window.innerWidth || document.documentElement.clientWidth || window.screen.width;
        const height = window.innerHeight || document.documentElement.clientHeight || window.screen.height;

        options.left = ((width / 2) - (options.width / 2)) + dualScreenLeft;
        options.top = ((height / 2) - (options.height / 2)) + dualScreenTop;

        const optionsStr = Object.keys(options).reduce((acc, key) => {
            acc.push(`${key}=${options[key]}`);
            return acc;
        }, []).join(',');

        const newWindow = window.open(url, title, optionsStr);

        if (window.focus) {
            newWindow.focus();
        }

        return newWindow;
    }
</script>
