<template>
    <div @click="focusNewTag()" :class="{ 'read-only': readOnly, 'active': isInputActive }"
         class="form-tags badge-danger">
    <span v-for="(tag, index) in innerTags" :key="index" class="tag badge">
      {{ tag }}
      <span v-if="!readOnly" @click.prevent.stop="remove(index)" data-role="remove"></span>
    </span>
        <input
                v-if="!readOnly && !isLimit"
                ref="taginput"
                :placeholder="placeholder"
                type="text"
                v-model="newTag"
                v-on:keydown.delete.stop="removeLastTag"
                v-on:keydown="addNew"
                v-on:blur="handleInputBlur"
                v-on:focus="handleInputFocus"
                class="tag-input"
        />
    </div>
</template>

<script>
    export default {
        name: 'TagsInput',
        props: {
            tags: {
                type: Array,
                default: () => [],
            },
            placeholder: {
                type: String,
                default: '',
            },
            readOnly: {
                type: Boolean,
                default: false,
            },
            addTagOnKeys: {
                type: Array,
                default: function () {
                    return [
                        13,
                        9,
                    ];
                },
            },
            addTagOnBlur: {
                type: Boolean,
                default: false,
            },
            limit: {
                default: -1,
            },
        },
        data: function () {
            return {
                newTag: '',
                innerTags: [...this.tags],
                isInputActive: false,
            }
        },
        watch: {
            tags: function () {
                this.innerTags = [...this.tags];
            }
        },
        computed: {
            isLimit: function () {
                return this.limit > 0 && Number(this.limit) === this.innerTags.length;
            }
        },
        methods: {
            focusNewTag: function () {
                if (this.readOnly || !this.$el.querySelector('.tag-input')) { return; }
                this.$el.querySelector('.tag-input').focus();
            },
            handleInputFocus: function () {
                this.isInputActive = true;
            },
            handleInputBlur: function (e) {
                this.isInputActive = false;
                this.addNew(e);
            },
            addNew: function (e) {
                if ((e && this.addTagOnKeys.indexOf(e.keyCode) === -1 &&
                    (e.type !== 'blur' || !this.addTagOnBlur)) || this.isLimit) {
                    return;
                }
                if (e) {
                    e.stopPropagation();
                    e.preventDefault();
                }
                if (
                    this.newTag &&
                    this.innerTags.indexOf(this.newTag) === -1
                ) {
                    this.innerTags.push(this.newTag);
                    this.newTag = '';
                    this.tagChange();
                }
            },
            remove: function (index) {
                this.innerTags.splice(index, 1);
                this.tagChange();
            },
            removeLastTag: function () {
                if (this.newTag) { return; }
                this.innerTags.pop();
                this.tagChange();
            },
            tagChange: function () {
                this.$emit('update:tags', this.innerTags);
            }
        },
    }
</script>
