.page-auth {
  min-height: 0;

  .page-container {
    padding: 0;
  }

  .page-header {
    padding: 1rem 1.25rem 0;
    max-width: 100%;
    background-color: $red;
    color: $white;
    text-align: center;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      margin-bottom: -3rem;
      padding-bottom: 3rem;

      &.container {
        max-width: 420px;
      }
    }

    p {
      margin-bottom: 0;
      padding-bottom: 1rem;
    }

    a {
      color: $white;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    img {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}

.auth-form {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-up(md) {
    max-width: 420px;
    border-radius: .25rem;
    background-color: $white;
  }
}

.page-footer {
  padding: 1rem;
  color: $gray-500;
  text-align: center;
}

.card-auth {
  @include media-breakpoint-down(sm) {
    border: none;
    border-radius: 0;

    &.shadow {
      box-shadow: none!important;
    }
  }
}