.page-channel {
  .page-header {
    padding-right: 0;
    padding-left: 0;

  }
}

.create-channel-page {
  min-height: calc(100vh - 10rem);

  .page-container {
    padding: 0;
  }

  .page-header {
    min-width: 100%;
    background-color: #e21725;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    > h1 {
      text-align: center;
    }
  }
}