.page-upload {
  min-height: calc(100vh - 10rem);

  .page-container {
    padding: 0;
  }

  .page-header {
    min-width: 100%;
    background-color: #e21725;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    > h1 {
      text-align: center;
    }
  }
}

.card-upload {

  @include media-breakpoint-down(sm) {
    border: none;
    border-radius: 0;
  }

  .upload-form {
    text-align: center;
    cursor: pointer;

    &.hover {
      span,
      p {
        color: #e21725;
      }
    }
  }
}

.progress-container {
  position: relative;

  .progress-badge {
    color: #e21725;
    font-size: 0.8571em;
    text-transform: uppercase;
  }

  .progress {
    height: 1px;
    border-radius: 0;
    box-shadow: none;
    background: rgba(255, 54, 54, 0.3);
    margin-top: 14px;

    .progress-bar {
      box-shadow: none;
      background-color: #e21725;
    }

    .progress-value {
      position: absolute;
      top: 2px;
      right: 0;
      color: #e21725;
      font-size: 0.8571em;
    }
  }

}