.page-watch {
  min-height: calc(100vh - 7rem);

  .card-thumbnail {
    .card-img-top {
      height: 145px;
    }
  }
}


.publisher {
  display: flex;
  width: 100%;

  &.focus {
    display: flex;
    flex-direction: column;

    .publisher-input {
      margin-bottom: .5em;
      padding-right: 0;
      width: 100%;

      .form-control {
        height: auto;
      }
    }

    .publisher-input,
    .publisher-label,
    .publisher-tools {
      display: block;
    }
  }
}

.publisher-alt {
  border: 1px solid #d4d5d7;
  border-radius: .25rem;
  background-color: #fff;

  &.focus {
    border-color: #e21725;
    box-shadow: 0 0 0 1px #e21725;

    .publisher-input {
      margin-top: 0;

      .form-control {
        border: 0;
      }
    }

    .publisher-actions {
      display: flex;
    }
  }

  .publisher-input {
    margin-bottom: 0;
    padding-right: 0;

    .form-control {
      border: 0;
      box-shadow: none;
    }
  }

  .publisher-actions {
    display: none;
    padding: 0 1em .75em 0;
    align-items: center;
  }
}

.publisher-input {
  padding-right: 12px;
  width: 100%;

  .form-control {
    height: 2.25rem;
    resize: none;
  }
}

.publisher-actions {
  display: flex;
}