<template>
    <div id="application">
        <bar ref="loading"/>
        <router-view/>
    </div>
</template>

<script>
    import Bar from './Loaders/Bar';

    export default {
        name: 'Application',
        el: '#root',
        components: {
            Bar,
        },
        metaInfo: function () {
            return {
                titleTemplate: (chunk) => {
                    return chunk ? `${chunk} · AMVCollection` : 'AMVCollection';
                }
            }
        },
        mounted: function () {
            this.$loading = this.$refs.loading
        },
    }
</script>
