@keyframes showDropdown {
  from {
    top: 100%;
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    top: 100%;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showArrow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}