.app-aside {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  color: inherit;
  background-color: #ffffff;
  z-index: 1030;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .2s ease-in-out;

  @include media-breakpoint-down(sm) {
    top: 0;
    width: calc(100vw - 3.5rem);
    min-width: 15rem;
    max-width: 16.5rem;
    transform: translate3d(-100%, 0, 0);
    z-index: 1050;
    border-right: 0;
  }

  @include media-breakpoint-up(md) {
    top: 3.5rem;
    width: 15rem;
    border-right: 1px solid $gray-300;
    z-index: 1;
  }

  &.has-open {
    @include media-breakpoint-down(sm) {
      transform: translate3d(0, 0, 0);
    }

    .aside-header {
      > .btn-menu {
        display: block;
      }
    }
  }
}

.aside-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aside-header {
  position: relative;
  display: block;
  background-color: $white;
  box-shadow: 0 0 0 1px rgba(60, 70, 80, .05), 0 1px 3px 0 rgba(60, 70, 80, .15);
  z-index: 3;

  > .btn-menu {
    display: none;
    position: absolute;
    top: .75rem;
    right: -3rem;
  }

  .btn-account {
    padding: 1rem;
    width: 100%;
    justify-content: flex-start;

    .account-name {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .account-description {
      font-size: .875em;
      line-height: .875em;
    }
  }
}

.aside-navbar {
  position: relative;
  flex: 1;

  &:not(.has-scrollable) {
    overflow-y: auto;
  }
}

.aside-menu {
  position: relative;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;

  .aside-nav {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    + .aside-nav {
      margin-top: 1rem;
    }

    .nav-header {
      margin: .5em 0 0;
      padding: .5rem;
      color: $red;
      font-size: .75rem;


      .header-title {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .header-action {
        > a {
          color: $gray-300;
          &:hover {
            text-decoration: none;
            color: $dark;
          }
        }
      }
    }

    .nav-item {
      &.has-active {
        .nav-link {
          color: $dark;

          .link-icon {
            color: $red;
          }
        }
      }

      .nav-link {
        color: $gray-600;
        display: block;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        font-size: .875rem;
        padding: .5rem;
        line-height: 1.625rem;
        font-weight: 500;

        &:hover {
          background-color: rgba($dark, .05);
          border-radius: .25rem;
        }

        .link-image,
        .link-icon {
          font-size: 1.25rem;
          float: left;
          margin-right: 1.25rem;
          line-height: 1.5rem;
          width: 1.75rem;
          text-align: center;
          color: inherit;
          position: relative;
        }

        .link-image {
          position: relative;
          margin-bottom: 0;
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
          border-radius: 4rem;
          background-color: #fff;
          vertical-align: middle;
          margin-left: .25rem;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4rem;
          }
        }

        .link-title {
          margin: 0;
          line-height: 1.5rem;
          position: relative;
          display: block;
          height: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: inherit;
        }
      }
    }
  }
}