.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

.btn-rounded {
  border-radius: 2rem;
  padding: .5rem 1rem;
}

.btn-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  cursor: pointer;
  height: 2.25rem;
  width: 2.25rem;
  transition: background-color .15s linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  border-radius: .25rem;
  margin: 0;
  overflow: visible;
  outline: 0;

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba(255, 255, 255, .15);
    outline: 0;
  }

  &:active {
    background-color: rgba(20, 30, 40, .05);
  }
}

.btn-menu-container {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
}

.btn-menu-inner {
  display: block;
  top: 50%;
  margin-top: -1px;

  &:before,
  &:after{
    content: "";
    display: block;
  }

  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px;
  }
}

.btn-menu-inner,
.btn-menu-inner:before,
.btn-menu-inner:after {
  width: 1.25rem;
  height: 2px;
  background-color: $white;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.btn-menu-squeeze {

  &.has-active {
    .btn-menu-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &:before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
      }

      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  .btn-menu-inner {
    transition-duration: .075s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);

    &:before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    &:after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}

.btn-account {
  position: relative;
  display: flex;
  margin: 0;
  border: 0;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  color: inherit;
  appearance: none;
  cursor: pointer;
  transition: background-color .15s;
  outline: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &.focus,
  &.show {
    outline: none;
  }

  .account-summary {
    margin-left: .5rem;
    display: block;
    text-align: left;
  }

  .account-name,
  .account-description {
    margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1rem;
  }

  .account-description {
    font-size: 0.75rem;
    font-weight: 400;
    opacity: .7;
  }

  .caret {
    border-top-width: 6px;
    border-right-width: 5px;
    border-left-width: 5px;
  }

  .account-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: .875rem;
    transform: translateY(-50%);
    opacity: .7;

    .caret,
    .icon-caret-down {
      .fa-caret-down {
        transition: transform .2s ease-in-out;
      }
    }
  }
}

.btn-account[aria-expanded="true"] > .account-icon {
  > .caret,
  > .icon-caret-down {
    transform: rotate(180deg);
  }
}

.btn-action {
  padding: .5rem .75rem;
  margin: 0 .25rem;
  color: #fff;
  opacity: .7;
  border-radius: .2rem;
  transition: all .15s linear;
}

.btn-reset {
  padding: 0 2px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: inherit;
    box-shadow: none;
  }

  &.text-muted {
    &:hover,
    &:focus,
    &.focus,
    &.active,
    &.show {
      color: $dark!important;
    }
  }
}

@each $media, $color in $social-colors {
  .btn-#{$media} {
    @include button-variant($color, $color);
  }
  .btn-outline-#{$media} {
    @include button-outline-variant($color);
  }
}

.btn-like-group {
  margin-right: 0;

  @include media-breakpoint-up(md) {
    margin-right: .25rem;
  }
}