.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

.card {
  &.card-description,
  &.card-video,
  &.card-thumbnail,
  &.card-comment,
  &.card-comments,
  &.card-channel,
  &.card-manage,
  &.card-edit {
    border: transparent;
    margin-bottom: 1.25rem;
  }
}

.card-thumbnail {

  &:hover {
    .video-title {
      color: $red;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .card-img-top {
    height: 180px;
    object-fit: cover;
  }

  .card-header {
    display: flex;
    align-items: start;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem;
  }

  .card-body {
    color: $gray-700;
    padding: .5rem;
  }

  .video-views,
  .video-length {
    background-color: rgba(0, 0, 0, .4);
    color: $white;
    font-size: .75rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 2rem;
  }

  .video-views {
    margin-right: auto;
  }

  .video-title {
    margin-bottom: .5rem;
    display: block;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;

    @include media-breakpoint-down(sm) {
      font-size: .875rem;
    }

    @include media-breakpoint-down(lg) {
      font-size: 1rem;
    }
  }

  .video-preview {
    position: absolute;
    margin-top: -2.5rem;
    right: 0;
    padding: .5rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
  }

  .video-author,
  .video-publish {
    @include media-breakpoint-down(sm) {
      font-size: .625rem;
    }

    @include media-breakpoint-down(md) {
      font-size: .75rem;
    }

    @include media-breakpoint-down(lg) {
      font-size: .875rem;
    }
  }

  .video-author {
    color: $gray-600;

    &:after {
      content: "\2022";
      padding: 0 1px;
      text-decoration: none;
      display: inline-block;
      pointer-events: none;
      position: relative;
      left: 2px;
    }

    &:hover {
      color: $dark;
    }
  }

  .video-publish {
    color: $gray-600;
  }
}

.card-video {
  .card-header {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .video-title {
    margin-bottom: 0;
    align-self: center;
    color: $dark;

    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  .video-views {
    white-space: nowrap;
    align-self: center;
    color: $dark;

    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .video-author {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .author-link {
      display: flex;
      align-items: center;

      .img-avatar {
        margin-right: 1rem;
        @include media-breakpoint-only(md) {
          margin-right: .5rem;
        }
      }

      .author-title {
        color: $gray-600;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media-breakpoint-only(md) {
          display: none;
        }
      }

      &:hover {
        text-decoration: none;

        .author-title {
          color: $dark;
        }
      }
    }

    .btn-subscribe {
      margin-left: .5rem;

      @include media-breakpoint-only(md) {
        margin-left: 0;
      }
    }
  }

  .video-summary {
    padding: 1rem;
    font-size: 1.25rem;
    color: $gray-600;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
}

.card-description {
  .card-header {
    background-color: transparent;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .video-publish {
    margin-bottom: 0;
  }
}

.card-comments {
  .card-header {
    background-color: transparent;
  }

  .comments {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .comment {
    display: flex;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    .comment-avatar {
      margin-right: .5rem;
    }

    .comment-message {
      display: flex;
      flex-direction: column;

      .comments {
        margin: 1rem 0;
      }
    }

    .meta {
      margin-top: .125rem;
      padding-left: .5rem;
      font-size: .75rem;
      color: #686f76;

      &:first-child {
        margin-top: 0;
        margin-bottom: .5rem;
      }
    }

    .text {
      padding-left: .5rem;
      padding-top: 0;
      padding-bottom: 0;
      max-width: 100%;
      min-height: auto;
      background-color: #fff;
      color: #28313b;
      box-shadow: none;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

.card-channel {
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .card-img-overlay {
    height: 200px;
    padding: 0;

    .channel-meta {
      padding: 1rem;
      background-color: rgba(0, 0, 0, .5);
      color: #fff;
      position: absolute;
      bottom: 0;
      font-weight: 600;

      div {
        padding: 0 .5rem;

        @include media-breakpoint-up(md) {
          padding: 0 1rem;
        }
      }
    }
  }

  .channel-author {
    display: flex;
    justify-content: space-between;

    .channel-author-meta {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 1rem;
    }

    .author-title {
      font-weight: 600;
    }
  }
}

.card-manage {
  .card-header {
    background-color: transparent;
    padding: 1rem 1.25rem;
    font-size: 1.3rem;
  }
  .card-body {
    padding: 0;
  }
}

.card-edit {
  .card-header {
    background-color: transparent;
    padding: 1rem 1.25rem;
    font-size: 1.3rem;
  }
}

.card-table {
  margin: 0;

  tr:first-child {
    td {
      border: 0;
    }
  }

  th {
    background-color: #ebecee;
    vertical-align: middle;
    font-weight: normal;
    padding: 0.5rem 1.25rem;
    border: 0;
  }

  td {
    padding: 1.25rem;
    vertical-align: middle;
  }
}

.card-tabs {
  padding: 0 1.25rem;

  .nav-item {
    margin-right: 1.5rem;
  }

  .nav-link {
    border: 0;
    color: #495057;
    padding: 0.8rem 0;
  }

  .nav-link.active {
    background-color: transparent;
    color: $danger;
    border-bottom: solid 2px $danger;
  }
}