.dropdown-menu {
  margin-top: 10px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(60, 70, 80, .05), 0 2px 7px 1px rgba(60, 70, 80, .15);
  animation-duration: 200ms;
  animation-fill-mode: both;

  @include media-breakpoint-up(md) {
    font-size: .875rem;
    line-height: 1.6;
  }

  &.show {
    animation-name: showDropdown;
  }
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a,
  > a:hover,
  > a:focus {
    font-weight: normal;
    font-size: .75rem;
    color: #686F76;
  }
}

.dropdown-icon {
  margin-right: .25rem;
  color: #A9ACB0;
  width: 1.25rem;
}

.dropdown-item {
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    .dropdown-icon,
    .subject,
    &.unread .subject,
    .text,
    &.unread .text,
    .data {
      color: inherit;
    }
  }

  &.unread {
    .subject,
    .text {
      font-weight: 600;
      color: #28313B;
    }
  }

  .subject,
  .text,
  .date {
    margin-bottom: 0;
    line-height: 1.4;
  }

  .subject {
    font-size: .75rem;
    color: #3D464F;
  }

  .text {
    font-weight: 500;
    font-size: 0.875rem;
    color: #3D464F;
  }

  .date {
    font-size: .75rem;
    color: #686F76;
  }
}

.dropdown,
.btn-group {
  .dropdown-arrow {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    overflow: hidden;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: -10px;
    margin-left: -10px;
    pointer-events: none;
    z-index: 1001;

    &:before {
      content: '';
      position: absolute;
      bottom: -.375rem;
      left: 50%;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      height: .75rem;
      width: .75rem;
      margin-left: -5px;
      background-color: rgba(255, 255, 255, .98);
      box-shadow: 0 0 0 1px rgba(60, 70, 80, .05), 0 2px 7px 1px rgba(60, 70, 80, .15);
      pointer-events: none;
    }
  }

  .dropdown-arrow-rigth {
    left: auto;
    right: 1rem;
  }

  .dropdown-arrow-left {
    left: 2rem;
  }

  &.show {
    > .dropdown-arrow {
      display: block;
      transform-origin: bottom;
      animation: showArrow 300ms ease-in-out;
    }
  }
}