.app-footer {
  background-color: $white;
  color: $dark;
  border-top: 1px solid $gray-300;

  @include media-breakpoint-up(md) {
    padding-left: 15rem;
  }
}

.footer-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.footer-brand {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 .5rem 0 1rem;
  align-self: center;

  img {
    height: 35px;
  }
}

.footer-navbar {
  display: flex;
  align-items: center;
  justify-content: center;


  .nav-link {
    padding: 0 .5rem;
    color: inherit;
    font-weight: 500;

    &:hover {
      opacity: .8;
    }
  }
}

.footer-copyright {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 0 1rem;

  @include media-breakpoint-up(md) {
    padding: 0 1rem 0 .5rem;
    margin-right: 0;
  }
}