.app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3.5rem;
  background-color: #e21725;
  color: #ffffff;
  box-shadow: 0 0 0 1px rgba(60, 70, 80, .05), 0 1px 3px 0 rgba(60, 70, 80, .15);
  z-index: 1030;

  .btn-account {
    padding: 0 1rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-left: 1px solid rgba(0, 0, 0, .1);
    transition: all .15s linear;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &:active,
    &:focus,
    &.focus,
    &.show {
      background-color: rgba(0, 0, 0, .1);
    }

    .account-summary {
      max-width: 10rem;
    }
  }
}

.header-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 3.5rem;
}

.header-brand {
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: auto;
  padding: 0 .5rem 0 1rem;

  @include media-breakpoint-up(md) {
    width: 15rem;
  }
}

.header-navbar {
  display: flex;
  align-items: center;
  flex: 1;

  .header-item {
    display: flex;
    align-items: center;
    padding: 0;

    @include media-breakpoint-up(md) {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    &.header-item-full {
      flex: 1;
    }

    &.header-item-right {
      margin-left: auto;
    }
  }
}

.header-search {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-down(sm) {
    padding-right: 1rem;
    padding-left: .5rem;
  }

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  .input-group {
    width: 100%;
    border-color: transparent;

    &.focus {
      box-shadow: none;
    }
  }

  .input-group-search {
    background-color: rgba(255, 255, 255, .15);
    transition: all .15s linear;

    &.focus {
      background-color: #ffffff;
    }

    &:not(.focus) {
      .input-group-text,
      .form-control,
      .form-control::placeholder {
        color: #ffffff;
      }
    }
  }
}

.header-nav {
  padding: 0 .5rem;

  > .nav-link,
  > .nav-item > .nav-link {
    padding: .5rem .75rem;
    margin: 0 .25rem;
    color: #ffffff;
    opacity: .7;
    border-radius: .2rem;
    transition: all .15s linear;

    &.link-upload {
      background-color: $white;
      color: $red;
      opacity: 1;
    }

    &:hover,
    &:focus,
    &.focus {
      color: #ffffff;
      opacity: 1;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .15);
    }

    &:focus,
    &.focus {
      background-color: rgba(0, 0, 0, .15);
    }
  }
}
