.img-brand {
  height: 2rem;
}

.img-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background-color: $white;
  vertical-align: middle;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
  }

  &.img-avatar-xxl {
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
  }

  &.img-avatar-xl {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
  }

  &.img-avatar-lg {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }

  &.img-avatar-md {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 2.25rem;
  }

  &.img-avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  &.img-avatar-xs {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
  }
}

.img-preview {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  height: 5rem;
  background-color: #fff;
  vertical-align: middle;

  img {
    height: 100%;
    border-radius: .25rem;
  }
}