.input-group {
  &:not(.input-group-alt) {
    border: 1px solid #d4d5d7;
    border-radius: .25rem;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 rgba(60, 70, 80, .05);
    backface-visibility: hidden;
    transition: all .2s ease-in-out;

    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &.focus {
      border-color: #e21725;
      box-shadow: 0 0 0 1px #e21725;
      z-index: 3;

      .input-group-append,
      .input-group-prepend {
        .badge {
          color: #ffffff;
          background-color: #e21725;
        }
      }
    }

    .form-control,
    .input-group-text {
      border: 0;
      background-color: transparent;
      box-shadow: none;
    }

    .form-control {
      &:focus,
      &.focus {
        box-shadow: none;
      }
    }

    .input-group-prepend,
    .input-group-append {
      .input-group-text {
        padding-right: 1px;
      }

      .badge {
        margin-right: .5rem;
      }

      .btn {
        border: none;
      }

      .badge {
        padding: .25rem .5rem;
        align-self: center;
        font-size: inherit;
        color: #a9acb0;
        font-weight: normal;
        background: #e9eaeb;
        transition: all .15s;
      }
    }
  }
}

.input-group-text {
  color: #a9acb0;
  box-shadow: inset 0 1px 0 0 rgba(60, 70, 80, .05);

  @include media-breakpoint-up(md) {
    font-size: .875rem;
    line-height: 1.6;
  }

  > .icon {
    top: 0;
  }
}

.form-label-group {
  position: relative;

  > input,
  > label {
    padding: .75rem .75rem;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
    color: #a9acb0;
    border: .12rem solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  input::placeholder {
    color: transparent;
  }

  input:not(:placeholder-shown):not(.placeholder-shown) {
    padding-top: calc(.75rem + .75rem * (2 / 3));
    padding-bottom: calc(.75rem / 3);

    ~ label {
      padding-top: calc(.75rem / 3);
      padding-bottom: calc(.75rem / 3);
      font-size: .75rem;
      color: #686f76;
    }
  }
}