.list-group {
  border: 0;
  box-shadow: 0 0 0 1px rgba(60, 70, 80, .05), 0 1px 3px 0 rgba(60, 70, 80, .15);
}

.list-group-flush,
.list-group-reflow {
  box-shadow: none;
}

.list-group-reflow {
  .list-group-header,
  .list-group-item {
    background-color: transparent;
  }
}

.list-group-fluid {
  .list-group-item {
    padding-right: 0;
    padding-left: 0;
  }
}

.list-group-header {
  margin: 0;
  padding: .75rem 1rem .75rem;
  display: flex;
  font-size: .75rem;
  font-weight: 600;
  color: #686F76;
  background-color: #ffffff;

  &:not(:first-child) {
    margin-top: 1px;
    border-top: 1px solid rgba(20, 30, 40, .125);
  }

  + .list-group-item {
    .list-group-item-body,
    .list-group-item-figure {
      border-top-color: transparent !important;
    }
  }
}

.list-group-item {
  display: flex;
  align-items: stretch;
  border-width: 1px 0;
  border-color: transparent;

  &:first-child {
    border-width: 0 0 1px;
  }

  &:last-child {
    border-width: 1px 0 0;
  }

  &.active {
    color: #28313B;
    border-color: transparent;
    border-radius: 0 !important;
    box-shadow: inset 4px 0 0 0 #e21725;

    .list-group-item-figure {
      color: #346CB0;
    }

    .list-group-item-text {
      color: #28313B;
    }

    &:hover,
    &:focus {
      .list-group-item-figure {
        color: #346CB0;
      }
    }
  }
}

.list-group-item-action {
  &:hover,
  &:focus {
    .list-group-item-figure {
      color: #686F76;
    }

    .list-group-item-text {
      color: #28313B;
    }
  }
}

.list-group-item-figure {
  display: flex;
  align-items: center;
  color: #A9ACB0;

  &:first-child {
    padding-right: 1rem;
  }

  &:last-child {
    padding-left: 1rem;
  }
}

.list-group-item-body {
  flex: 1;
  min-width: 0;
  align-self: center;
  font-size: .875rem;
}

.list-group-item-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #28313B;
}

.list-group-item-subtitle {
  margin: 0;
  font-size: inherit;
  line-height: 1.25rem;
  font-weight: normal;
  color: #28313B;
}

a {
  &.list-group-item-title,
  &.list-group-item-subtitle {
    color: #3D464F;

    &:hover,
    &:focus {
      color: #28313B;
      text-decoration: none;
    }
  }
}

.list-group-item-title,
.list-group-item-subtitle {
  > a {
    color: #3D464F;

    &:hover,
    &:focus {
      color: #28313B;
      text-decoration: none;
    }
  }
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.25rem;
  color: #686F76;
}

.list-group-bordered {
  .list-group-header {
    border-top: 0;
  }

  .list-group-item {
    border-color: rgba(20, 30, 40, .125);
  }
}

.list-group-manage {
  &.list-group-bordered {
    .list-group-item {
      border-color: rgba(60, 70, 80, .075);
    }
  }

  .list-group-item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: transparent;
  }

  .list-group-item-figure,
  .list-group-item-body {
    align-self: start;
  }

  .list-group-item-subtitle,
  .list-group-item-title {
    font-weight: 600;
  }
}