.nav-item,
.nav-link{
  &.has-notified {
    position: relative;

    &:before {
      position: absolute;
      top: .5rem;
      right: .75rem;
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: $yellow;
      pointer-events: none;
      user-select: none;
    }
  }
}