.page {
  min-height: 646px;
}

.page-container {
  padding: 1.5rem 1rem;

  @include media-breakpoint-up(md) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.page-header,
.page-section {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}

.page-header {
  margin-bottom: 1.5rem;
  padding: 0;
}

.page-section {
  padding-right: 0;
  padding-left: 0;
}

.page-link {
  font-weight: 600;
}