<template>
    <aside class="app-aside">
        <div class="aside-container">
            <header class="aside-header d-block d-md-none">
                <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside" v-if="user">
                    <span class="img-avatar img-avatar-lg">
                        <img src="/images/avatar.jpg" alt="">
                    </span>
                    <span class="account-icon">
                        <span class="icon icon-caret-down icon-lg"></span>
                    </span>
                    <span class="account-summary">
                        <span class="account-name">Beni Arisandi</span>
                    </span>
                </button>
                <div id="dropdown-aside" class="dropdown-aside collapse" v-if="user">
                    <div class="pb-3">
                        <a class="dropdown-item" href="#">Выход</a>
                    </div>
                </div>
                <a href="#" class="btn-account" v-else>
                    <span class="account-icon">
                        <span class="icon icon-sign-in icon-lg"></span>
                    </span>
                    <span class="account-summary">
                        <span class="account-name">Вход</span>
                        <span class="account-description">Регистрация</span>
                    </span>
                </a>
            </header>

            <section class="aside-navbar has-scrollable">
                <nav class="aside-menu">
                    <ul class="nav aside-nav">
                        <li class="nav-header">
                        <span class="header-title">
                            Меню
                        </span>
                        </li>
                        <li class="nav-item has-active">
                            <a class="nav-link" href="#">
                                <span class="link-icon icon icon-home icon-fw"></span>
                                <span class="link-title">Главная</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="link-icon icon icon-fire icon-fw"></span>
                                <span class="link-title">Тренды</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="link-icon icon icon-history icon-fw"></span>
                                <span class="link-title">История</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="link-icon icon icon-clock-o icon-fw"></span>
                                <span class="link-title">Посмотреть позже</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="link-icon icon icon-thumbs-o-up icon-fw"></span>
                                <span class="link-title">Понравившиеся</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav aside-nav">
                        <li class="nav-header">
                        <span class="header-title">
                            Подписки
                        </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span class="link-image">
                                <img src="/images/avatar.jpg" alt="">
                            </span>
                                <span class="link-title">AMV Collection Team</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </aside>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Aside',
        computed: mapGetters({
            user: 'auth/user',
        }),
    }
</script>
