<template>
    <footer class="app-footer">
        <div class="footer-container">
            <div class="footer-brand">
                <router-link :to="{ name: 'index' }" title="AMV Collection">
                    <img src="/images/brand-inverse.png" alt="AMV Collection">
                </router-link>
            </div>
            <div class="footer-navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">О сервисе</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Конфиденциальность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Условия использования</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Обратная связь</a>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright">
                &copy; AMV Collection, 2018
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer',
    }
</script>
