<template>
    <header class="app-header">
        <div class="header-container">
            <div class="header-brand">
                <button class="btn-menu btn-menu-squeeze mr-2" type="button">
                    <span class="btn-menu-container">
                        <span class="btn-menu-inner"></span>
                    </span>
                </button>
                <router-link :to="{ name: 'index' }" title="AMV Collection">
                    <img src="/images/brand.png" alt="AMV Collection" class="img-brand">
                </router-link>
            </div>
            <div class="header-navbar">
                <div class="header-item header-item-full">
                    <search-input/>
                </div>
                <div class="header-item header-item-right px-0 d-none d-sm-flex">
                    <ul class="nav header-nav">
                        <li class="nav-item">
                            <router-link :to="{ name: 'upload' }" class="nav-link link-upload" data-toggle="tooltip"
                                         data-placement="bottom" title="Загрузить видео">
                                <span class="icon icon-cloud-upload"></span>
                                Загрузить
                            </router-link>
                        </li>
                        <li class="nav-item" v-if="!user">
                            <router-link :to="{ name: 'auth.login' }" class="nav-link" data-toggle="tooltip"
                                         data-placement="bottom" title="Авторизация">
                                <span class="icon icon-sign-in"></span>
                            </router-link>
                        </li>
                    </ul>
                    <div class="dropdown" v-if="user">
                        <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown"
                                aria-haspopup="true">
                        <span class="img-avatar">
                            <img :src="user.avatar" :alt="user.name">
                        </span>
                            <span class="account-summary pr-lg-4 d-none d-lg-block">
                            <span class="account-name">{{ user.name }}</span>
                        </span>
                        </button>
                        <div class="dropdown-arrow dropdown-arrow-left"></div>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header d-none d-md-block d-lg-none">{{ user.name }}</h6>
                            <router-link :to="{ name: 'user.videos', params: { uid: user.uid } }" class="dropdown-item"><span
                                    class="dropdown-icon icon icon-user icon-fw"></span>Профиль</router-link>
                            <router-link :to="{ name: 'manage.videos' }" class="dropdown-item"><span
                                    class="dropdown-icon icon icon-video-camera icon-fw"></span>Управление</router-link>
                            <router-link :to="{ name: 'settings.general' }" class="dropdown-item"><span class="dropdown-icon icon icon-cog icon-fw"></span>Настройки</router-link>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" @click.prevent="onLogout"><span
                                    class="dropdown-icon icon icon-sign-out icon-fw"></span>Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import { mapGetters } from 'vuex';
    import SearchInput from "../../components/Form/SearchInput";

    export default {
        name: 'Header',
        components: {
            SearchInput,
        },
        computed: mapGetters({
            user: 'auth/user',
        }),
        methods: {
            onLogout: async function () {
                await this.$store.dispatch('auth/logout');
                this.$router.push({ name: 'index' });
            },
        },
    }
</script>
