/*


// Header

$header-bg: $red;
$header-color: #fff;

$box-shadow-xs: 0 0 0 1px rgba(60, 70, 80, .05), 0 1px 3px 0 rgba(60, 70, 80, .15);


// Grid columns
$grid-gutter-width: 1rem;*/

$red: #e21725;

$fa-font-size-base: 1rem;
$fa-css-prefix: icon;

$body-bg: #f8f9fa;

$input-focus-border-color: $red;
$input-focus-box-shadow: 0 0 0 1px $red;

$social-colors: (
    facebook:     #3b5998,
    twitter:      #00aced,
    vk:           #45668e,
) !default;

$dropdown-item-padding-y:           .5rem;
$dropdown-item-padding-x:           1rem;
$dropdown-link-hover-color:         #fff;
$dropdown-link-hover-bg:            $red;

$dropdown-link-active-color:        #fff;
$dropdown-link-active-bg:           $red;

$pagination-color: #28313b;
$pagination-bg: transparent;
$pagination-border-color: transparent;
$pagination-hover-color: $red;
$pagination-hover-bg:               transparent;
$pagination-hover-border-color:     transparent;
$pagination-active-color: $red;
$pagination-active-bg:              transparent;
$pagination-active-border-color:    transparent;
$pagination-disabled-color: #686f76;
$pagination-disabled-bg:            transparent;
$pagination-disabled-border-color:  transparent;

$plyr-color-main: $red;
