@import "variables";
@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~plyr/src/sass/plyr";

html,
body {
  height: 100%;
  padding: 0;
  border: 0;
}

body {
  @include media-breakpoint-up(md) {
    font-size: .875rem;
  }
}

.app {
  width: 100%;
  min-height: 100%;

  &.app-fw {
    .app-main,
    .app-footer {
      padding-left: 0;
    }

    .app-aside {
      top: 0;
      transform: translate3d(-100%, 0, 0);
      z-index: 1050;
      border-right: 0;

      &.has-open {
        transform: translate3d(0, 0, 0);
      }

      @include media-breakpoint-up(md) {
        top: 3.5rem;
      }
    }

    .app-backdrop {
      &.show {
        display: block;
        animation: fadeInBackdrop 260ms ease forwards;
      }
    }
  }
}

.app-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(60, 70, 80, .85);
  z-index: 1040;

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }
}

.wave {
  position: absolute;
  top: 175px;
  transform: rotate(180deg);
  z-index: 1;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.or-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-transform: uppercase;

  &:before,
  &:after {

    content: " ";
    display: inline-block;
    height: 1px;
    margin: 0 2.5%;
    vertical-align: middle;
    width: 35%;
  }

  &:before {
    background: linear-gradient(90deg, #fff, #ddd);
  }

  &:after {
    background: linear-gradient(90deg, #ddd, #fff);
  }
}

/*.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 200ms all linear;
  z-index: 999999;

  &.loading-fail {
    background-color: #000;
  }
}*/

.loading {
  pointer-events: none;
  user-select: none;
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  z-index: 999999;

  &.loading-show {
    display: block;
  }

  &.loading-fail {
    display: block;
    background: #ff4500;
  }
}

.section-block {
  margin: 1rem 0;
}

.form-tags {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.active {
      color: #495057;
      background-color: #fff;
      border-color: #e21725;
      outline: 0;
      box-shadow: 0 0 0 1px #e21725;
  }

  .tag-input {
    border-color: transparent;
    background-color: transparent;
    outline: none;
  }

  .tag {
    cursor: pointer;
    margin: 5px 3px 5px 0;
    position: relative;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    font-size: .75em;
    display: inline-block;
    line-height: 1.5em;
    padding: 3px 8px 3px .8em;

    &:hover {
      padding-right: 22px;

      [data-role=remove] {
        opacity: 1;
        padding-right: 4px;
      }
    }

    [data-role=remove] {
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 0;
      opacity: 0;
      background-color: transparent;

      &:after {
        font: .75rem/1 FontAwesome;
        content: "\F00D";
        padding: 0 2px;
      }
    }
  }

  .tag,
  .tag [data-role=remove] {
    transition: all .3s ease 0s;
  }

  &.badge-danger .badge {
    background-color: #ff3636;
    color: #fff;
    border: none;
  }
}

@import "components/animations";
@import "components/nav";
@import "components/input-group";
@import "components/buttons";
@import "components/images";
@import "components/header";
@import "components/aside";
@import "components/footer";
@import "components/main";
@import "components/pages";
@import "components/card";
@import "components/dropdown";
@import "components/list-group";

@import "pages/upload";
@import "pages/auth";
@import "pages/main";
@import "pages/watch";
@import "pages/channel";
@import "pages/settings";