<template>
    <layout page-class="page-auth">
        <p slot="header">
            Еще нет аккаунта?
            <router-link :to="{ name: 'auth.register' }">Создать аккаунт</router-link>
        </p>
        <div class="card card-auth col-md-6 offset-md-3 col-lg-4 offset-lg-4 shadow mb-md-3">
            <div class="card-body">
                <form class="auth-form" @submit.prevent="onSubmit">
                    <div class="form-group text-center">
                        <social-auth-button/>
                    </div>
                    <span class="or-divider">или</span>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="email" :class="['form-control', errors.email ? 'is-invalid' : '' ]" placeholder="Email" required v-model="email">
                            <label for="inputEmail">Email</label>
                            <div v-if="errors.email" class="invalid-feedback" v-text="errors.email[0]"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" :class="['form-control', (errors.email || errors.password) ? 'is-invalid' : '' ]" placeholder="Пароль" required v-model="password">
                            <label for="inputPassword">Пароль</label>
                            <div v-if="errors.password" class="invalid-feedback" v-text="errors.password[0]"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <v-button :loading="loadState" type="danger" block>Войти</v-button>
                    </div>
                    <div class="form-group text-center">
                        <v-checkbox v-model="remember" name="remember">Не выходить из аккаунта</v-checkbox>
                    </div>
                    <div class="text-center">
                        <a href="#" class="link">Не можете войти в свой аккаунт?</a>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '../../layouts/Auth';
    import SocialAuthButton from "../../components/Form/SocialAuthButton";

    export default {
        name: 'Login',
        middleware: 'guest',
        components: {
            Layout,
            SocialAuthButton,
        },
        metaInfo: function () {
            return {
                title: 'Вход',
            }
        },
        data: function () {
            return {
                email: '',
                password: '',
                remember: false,
                loadState: false,
                errors: [],
            }
        },
        methods: {
            onSubmit: async function () {
                this.loadState = true;
                this.errors = [];
                let form = new FormData();
                form.append('email', this.email);
                form.append('password', this.password);

                await this.$http.post('/api/auth/login', form).then(response => {
                    this.$store.dispatch('auth/saveToken', {
                        token: response.data.token,
                        remember: this.remember,
                    });
                    this.$store.dispatch('auth/fetchUser');
                    this.$router.push({ name: 'index' });
                }).catch(error => {
                    this.errors = error.response.data.errors;
                }).finally(() => {
                    this.loadState = false;
                });
            },
        },
    }
</script>
