<template>
    <layout page-class="page-auth">
        <p slot="header">
            Уже есть аккаунт?
            <router-link :to="{ name: 'auth.login' }">Войти</router-link>
        </p>
        <div class="card card-auth col-md-6 offset-md-3 col-lg-4 offset-lg-4 shadow mb-md-3">
            <div class="card-body">
                <form class="auth-form" @submit.prevent="onSubmit">
                    <div class="form-group text-center">
                        <social-auth-button/>
                    </div>
                    <span class="or-divider">или</span>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputName" name="name" class="form-control" :class="['form-control', errors.email ? 'is-invalid' : '' ]" placeholder="Имя" required autofocus v-model="name">
                            <label for="inputName">Имя</label>
                            <div v-if="errors.name" class="invalid-feedback" v-text="errors.name[0]"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="email" :class="['form-control', errors.email ? 'is-invalid' : '' ]" placeholder="Email" required v-model="email">
                            <label for="inputEmail">Email</label>
                            <div v-if="errors.email" class="invalid-feedback" v-text="errors.email[0]"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" :class="['form-control', (errors.email || errors.password) ? 'is-invalid' : '' ]" placeholder="Пароль" required v-model="password">
                            <label for="inputPassword">Пароль</label>
                            <div v-if="errors.password" class="invalid-feedback" v-text="errors.password[0]"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <v-button :loading="loadState" type="danger" block>Регистрация</v-button>
                    </div>
                    <p class="text-center text-muted mb-0">Создавая учетную запись, Вы соглашаетесь с
                        <a href="#">Условиями использвания</a> и
                        <a href="#">Политикой конфиденциальности</a>.
                    </p>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '../../layouts/Auth';
    import SocialAuthButton from '../../components/Form/SocialAuthButton';

    export default {
        name: 'Register',
        middleware: 'guest',
        components: {
            Layout,
            SocialAuthButton,
        },
        metaInfo: function () {
            return {
                title: 'Регистрация',
            }
        },
        data: function () {
            return {
                name: '',
                email: '',
                password: '',
                remember: false,
                loadState: false,
                errors: [],
            }
        },
        methods: {
            onSubmit: async function () {
                this.loadState = true;
                this.errors = [];
                let form = new FormData();
                form.append('name', this.name);
                form.append('email', this.email);
                form.append('password', this.password);

                await this.$http.post('/api/auth/register', form).then(() => {
                    this.$router.push({ name: 'auth.login' });
                }).catch((errors) => {
                    console.log(errors);
                    this.errors = errors.response.data.errors;
                }).finally(() => {
                    this.loadState = false;
                });
            },
        },
    }
</script>
