<template>
    <layout page-class="page-main">
        <header slot="header" class="page-header">
            <h4>
                Последние опубликованные видео
            </h4>
        </header>

        <spiner :loading="loadState" size="5"/>

        <div class="text-center" v-if="!loadState && !videos.length">
            <h3 class="mt-md-5">
                На сайте все еще нет контента?
            </h3>
            <p class="lead text-muted">
                Стань первым! Кликай на кнопку ниже и загружай свои лучшие видео.
            </p>
            <div class="state-action">
                <router-link :to="{ name: 'upload' }" class="btn btn-danger btn-rounded">Загрузить видео</router-link>
            </div>
        </div>

        <div class="card-columns" v-if="!loadState && videos.length">
            <thumbnail v-for="(video, key) in videos" :key="key" :video="video"></thumbnail>
        </div>

        <pagination v-if="!loadState && videos.length" :pagination="pagination" :offset="12" @paginate="getVideos"/>
    </layout>
</template>

<script>
    import Layout from "../layouts/Default";

    export default {
        name: 'Index',
        components: {
            Layout,
        },
        data: function () {
            return {
                loadState: true,
                pagination: {
                    'current_page': 1,
                },
                videos: [],
            }
        },
        created: function () {
            this.getVideos();
        },
        methods: {
            getVideos: async function () {
                this.loadState = true;
                return await this.$http.get('/api/videos?page=' + this.pagination.current_page).then(response => {

                    this.videos = response.data.data;

                    this.pagination = response.data.meta;

                    this.loadState = false;

                    return response.data.data;
                });
            },
        },
    }
</script>
