<template>
    <layout app-class="app-fw" page-class="page-upload">
        <header slot="header" class="page-header">
            <h1>Загрузить новое видео</h1>
        </header>
        <svg class="wave" viewBox="0 0 100 15" slot="wave">
            <path fill="#e21725" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path>
            <path fill="#e21725" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
        </svg>
        <div class="card card-upload shadow mb-md-5 col-md-8 offset-md-2">
            <div class="card-body upload-form" :class="{ 'hover': dragndrop }" @click="onClick" @dragover.prevent="onDragOver"
                 @dragleave.prevent="onDragLeave" @drop.prevent="onDrop" v-if="!uploading">
                <span class="icon icon-cloud-upload icon-5x my-3"></span>
                <h4>Перетащите сюда видео</h4>
                <p>или нажмите, чтобы выбрать файл</p>
                <button class="btn btn-danger btn-rounded my-3">Загрузить</button>
            </div>
            <form class="d-none">
                <input type="file" name="video" accept="video/*" class="upload-video-file" @change.prevent="onChange" ref="fileInput">
            </form>
            <div class="card-body summary-form" v-if="uploading">
                <div class="progress-container my-3">
                    <span class="progress-badge">Загрука видео...</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                             :style="{ width: percentage }">
                            <span class="progress-value">{{ percentage }}</span>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" v-if="failed">
                    <strong>Что-то пошло не так.</strong> Обновите страницу и попробуйте еще раз.
                </div>
                <form @submit.prevent="onUpdate">
                    <div class="row">
                        <div class="col-md-4" v-if="complete">
                            <p class="text-muted">
                                Видео будет доступно по ссылке
                                <router-link :to="{ name: 'watch', params: { uid: uid } }">https://amv.test/watch/{{ uid }}</router-link> после публикации.</p>
                            <div class="image-preview mb-3">
                                <img :src="'/storage/' + thumbnail" class="img-thumbnail"
                                     :alt="title">
                            </div>
                        </div>
                        <div class="col-md-4" v-else>
                            <spiner :loading="!complete" size="3"/>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="inputName">Название</label>
                                <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                                       placeholder="Название" v-model="title">
                                <small id="nameHelp" class="form-text text-muted">Полное название видео.</small>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Описание</label>
                                <textarea id="inputDescription" class="form-control" cols="30"
                                          placeholder="Описание видео" v-model="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="inputTags">Теги</label>
                                <tags-input id="inputTags" placeholder="Теги" :tags.sync="tags"></tags-input>
                                <small id="tagsHelp" class="form-text text-muted">Для разделения тегов, нажмите Enter.
                                </small>
                            </div>
                        </div>
                    </div>
                    <span class="pull-left text-muted my-2" v-text="status"></span>
                    <div class="btn-group pull-right" role="group">
                        <router-link :to="{ name: 'manage.videos' }" class="btn btn-dark">Отложить публикацию</router-link>
                        <v-button :loading="publish" type="danger">Опубликовать</v-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from "../layouts/Default";
    import TagsInput from '../components/Form/TagsInput';

    export default {
        name: 'Upload',
        middleware: 'auth',
        components: {
            Layout,
            TagsInput,
        },
        data: function () {
            return {
                dragndrop: false,
                uploading: false,
                failed: false,
                complete: false,
                status: null,
                publish: false,
                percentage: '0%',

                uid: null,
                file: null,
                title: '',
                description: '',
                thumbnail: null,
                tags: [],
            }
        },
        created: function () {
            window.onbeforeunload = () => {
                if (this.uploading && !this.complete && !this.failed) {
                    return 'Загрузка не завершена! Вы уверены, что хотите уйти со страницы?';
                }
            };
        },
        methods: {
            onDragOver: function () {
                this.dragndrop = true;
            },

            onDragLeave: function () {
                this.dragndrop = false;
            },

            onDrop: function (e) {
                this.dragndrop = false;
                this.$refs.fileInput.files = e.dataTransfer.files;
            },

            onClick: function () {
                this.$refs.fileInput.click();
            },

            onChange: function () {
                this.uploading = true;
                this.file = this.$refs.fileInput.files[0];
                this.title = this.file.name.substr(0, this.file.name.lastIndexOf('.'));

                this.onStore();
            },

            onStore: async function () {
                let data = new FormData();
                data.append('file', this.file);
                data.append('title', this.title);

                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: function (progress) {
                        let completed = parseInt(Math.round((progress.loaded * 100) / progress.total));
                        this.percentage = completed + '%';
                    }.bind(this)
                };

                await this.$http.post('/api/videos', data, config).then(response => {
                    this.uid = response.data.video.uid;
                    this.thumbnail = response.data.preview[0].disk + '/' +response.data.preview[0].path;

                    this.complete = true;
                    this.status = 'Загрузка видео завершена.';
                    setTimeout(() => {
                        this.status = null;
                    }, 3000);
                }).catch(error => {
                    this.complete = false;
                    this.failed = true;
                    this.status = 'Ошибка при загрузке видео на сервер.';
                });
            },

            onUpdate: async function () {
                this.publish = true;
                this.status = 'Сохранение видео.';

                let data = new FormData();
                data.append('_method', 'PUT');
                data.append('title', this.title);
                data.append('description', this.description);
                data.append('tags', this.tags);
                data.append('published_at', 'true');

                await this.$http.post(`/api/videos/${this.uid}`, data).then(response => {
                    this.status = 'Сохранено.';
                    setTimeout(() => {
                        this.status = null;
                        this.$router.push({ name: 'watch', params: { uid: this.uid } });
                    }, 3000);
                }).catch(error => {
                    this.status = 'Ошибка при сохранении видео.';
                });
            },
        },
    }
</script>
