<template>
    <layout app-class="app-fw" page-class="page-watch">
        <div class="row">
            <div class="col-md-8 col-lg-9 order-1">
                <div class="card card-video shadow mb-3">
                    <spiner :loading="loadState" size="5"/>

                    <player v-if="!loadState && video.thumbnail && video.processed === false" :poster="video.thumbnail"
                            :sources="video.sources" :emit="['timeupdate']" @timeupdate="onTimeUpdate"></player>

                    <div class="card-header" v-if="!loadState && video.title">
                        <h1 class="video-title">{{ video.title }}</h1>
                        <span class="video-views" v-if="video.counters">
                            <i class="icon icon-eye"></i>
                            {{ video.counters.views }}
                        </span>
                    </div>

                    <div class="card-body" v-if="!loadState && video.user">
                        <div class="row">
                            <div class="video-author col-md-6">
                                <router-link :to="{ name: 'user.videos', params: { uid: video.user.uid } }"
                                             class="author-link text-truncate">
                                    <img :src="video.user.avatar" class="img-avatar img-avatar-md"
                                         :alt="video.user.name">
                                    <span class="author-title">{{ video.user.name }}</span>
                                </router-link>

                                <router-link :to="{ name: 'manage.videos' }" class="btn btn-dark btn-sm">
                                    Управлять
                                </router-link>
                            </div>
                            <div class="video-summary col-md-6">
                                <div class="btn-group btn-like-group" role="group">
                                    <button type="button" class="btn btn-light">
                                        <span class="icon icon-thumbs-o-up icon-fw"></span>
                                        54
                                    </button>
                                    <button type="button" class="btn btn-light">
                                        <span class="icon icon-thumbs-o-down icon-fw"></span>
                                        12
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-description shadow" v-if="!loadState && video.title">
                    <div class="card-header">
                        <h6 class="video-publish">
                            Опубликовано {{ video.published_at | formatDate }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <p class="description mb-0">{{ video.description ? video.description : 'Описание отсутствует' }}</p>
                        <p v-if="video.tags.length" class="mt-3">Теги: {{ video.tags.join(', ') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-3">
                <div class="card card-comment shadow">
                    <div class="card-body">
                        <comment-input v-if="user" :avatar="user.avatar" :name="user.name" :video="video.uid"></comment-input>
                        <p class="text-center text-muted mb-0" v-else>
                            Только авторизованные пользователи могут оставлять комментарии!
                            <router-link :to="{ name: 'auth.login' }">Войти</router-link>
                            или
                            <router-link :to="{ name: 'auth.register' }">зарегистрироваться</router-link>
                        </p>
                    </div>
                </div>

                <div class="card card-comments mb-0 shadow">
                    <div class="card-header">
                        <h6>Комментарии</h6>
                    </div>
                    <comments :video="uid"></comments>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 order-2">
                .related
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from "../layouts/Default";
    import Player from '../components/Media/Player';
    import CommentInput from '../components/Form/CommentInput';
    import Comments from '../components/Media/Comments';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Watch',
        components: {
            Layout,
            Player,
            CommentInput,
            Comments,
        },
        props: [
            'uid',
        ],
        data: function () {
            return {
                video: {},
                comments: [],
                currentTime: 0,
                loadState: true,
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/user',
            }),
            author: function () {
                return this.user && this.user.uid === this.video.user.uid;
            }
        },
        created: function () {
            this.getVideo();

            setInterval(() => {
                if (this.getDuration()) {
                    this.setView();
                }
            }, 1000);
        },
        methods: {
            getVideo: async function () {
                this.loadState = true;
                const {data} = await this.$http.get(`/api/videos/${this.uid}`);
                this.video = data;
                this.loadState = false;
            },

            setView: async function () {
                await this.$http.post('/api/videos/' + this.uid + '/views');
            },

            onTimeUpdate: function (e) {
                this.currentTime = e.detail.plyr.currentTime;
            },

            getDuration: function () {
                if (!this.video.duration)
                    return false;

                return Math.round(this.currentTime) === Math.round(this.video.duration / 3);
            },
        }
    }
</script>
