<template>
    <div :style="{ width: `${percent}%` }" class="loading" :class="{ 'loading-show': show, 'loading-fail': failed }"></div>
</template>

<script>
    export default {
        name: 'Bar',
        data: function () {
            return {
                percent: 0,
                show: false,
                failed: false,
            }
        },
        methods: {
            start: function () {
                this.show = true;
                this.failed = false;
                if (this._timer) {
                    clearInterval(this._timer);
                    this.percent = 0;
                }
                this._cut = 10000 / Math.floor(this.duration);
                this._timer = setInterval(() => {
                    this.increase(this._cut * Math.random());
                    if (this.percent > 95) {
                        this.finish();
                    }
                }, 100);
                return this;
            },
            set: function (num) {
                this.show = true;
                this.failed = false;
                this.percent = Math.floor(num);
                return this;
            },
            get: function () {
                return Math.floor(this.percent);
            },
            increase: function (num) {
                this.percent = this.percent + Math.floor(num);
                return this;
            },
            decrease: function (num) {
                this.percent = this.percent - Math.floor(num);
                return this;
            },
            finish: function () {
                this.percent = 100;
                this.hide();
                return this;
            },
            pause: function () {
                clearInterval(this._timer);
                return this;
            },
            hide: function () {
                clearInterval(this._timer);
                this._timer = null;
                setTimeout(() => {
                    this.show = false;
                    this.$nextTick(() => {
                        setTimeout(() => {
                            this.percent = 0;
                        }, 200);
                    });
                }, 500);
                return this;
            },
            fail: function () {
                this.failed = true;
                return this;
            }
        },
    }
</script>
