<template>
    <div v-if="loading" :class="{ [`p-${size}`]: true }" class="d-flex justify-content-center">
        <i :class="{ [`icon-${size}x`]: true }" class="icon icon-spinner icon-pulse icon-fw text-danger"></i>
    </div>
</template>

<script>
    export default {
        name: 'Spiner',
        props: {
            loading: {
                type: Boolean,
                default: false,
            },
            size: {
                type: String,
                default: 1,
            },
        }
    }
</script>
